/node_modules
/public/storage/*
/tmp/*
/.idea
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.log
/logs/*.log
.idea
package-lock.json
