<%- contentFor('content') %>
<section>
  <h1>Home page</h1>
  <div class="home-style">home css style</div>
</section>

<%- contentFor('body') %>
<script>
  console.log('body qwerty');
</script>
<%- contentFor('head') %>
<link rel="stylesheet" href="/css/home.css" type="text/css">